.n-scrollbar-rail {
  &.n-scrollbar-rail--horizontal {
    --n-scrollbar-height: 4px;
  }
  &.n-scrollbar-rail--vertical{
    --n-scrollbar-width: 4px;
  }
}

.n-popover.n-popover-shared.n-popover-shared--show-arrow {
  padding: 4px !important;
}
