.n-scrollbar-rail {
  &.n-scrollbar-rail--horizontal {
    --n-scrollbar-height: 4px;
  }
  &.n-scrollbar-rail--vertical{
    --n-scrollbar-width: 4px;
  }
}

.n-popover.n-popover-shared.n-popover-shared--show-arrow {
  padding: 4px !important;
}

.n-qr-code {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.n-popover__content {
  padding: 4px 8px;
}
